body {
    background: url("https://images.unsplash.com/photo-1525721692989-94409083b2ca?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d60a9bd5b96fde8a7f6ebf7e61626def&auto=format&fit=crop&w=800&q=80") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Lekton', sans-serif;
}
nav {
    background: none;
    box-shadow: none;
}

.card-background {
    background-color: rgba(255, 255, 255, 0.712);;
}

.plusOne {
    margin-top: -3px;
    color: white;
}

.about-me {
    height: 500px;
}

.portfolio-section {
    background: 
}

.skill-set {
    height: 250px;
}
.parallaxTop {
    margin-top: 20px;
}

