body {
    background-color: #9e9e9e ;
    font-family: 'Lekton', sans-serif;
}

.plusOne {
    margin-top: -3px;
    color: white;
}

.parallax-container {
    height: 100px;
}

.parallaxTop {
    margin-top: 20px;
}

